.section__about {
  padding: 10rem 0;
  background: #fafafa;

}

.about {
  width: 92%;
  max-width: 120rem;
  margin: auto;
}

.about__title {
  margin-bottom: 9rem;
}

.about__title__span {
  display: block;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: #111;
  font-weight: bold;
}

.about__title__span::after {
  content: "";
  position: absolute;
  top: 170%;
  height: 5px;
  width: 5rem;
  background: #0d82b8;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.about__title__span__sub {
  display: block;
  margin: 4rem auto auto auto;
  text-align: center;
  color: #555;
  font-size: 1.785rem;
  font-weight: 500;
  max-width: 60rem;
  line-height: 1.5;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.about__grid__title {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2.8rem;
  color: #111;
  margin-bottom: 3rem;

}

.about__grid__text__text,
.about__grid__text__text2 {
  font-size: 1.9rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.about__grid__text__text2 {
  margin-bottom: 5rem;
}

/* responsivo */

@media screen and (max-width: 768px) {
  .about__grid {
    grid-template-columns: 1fr;
    gap: 10rem;
  }
}