.main {
  background: linear-gradient(to right, rgba(245, 245, 245, .5), rgba(245, 245, 245, .8)), url(../../assets/common-bg.svg);
  background-position: center;
  height: 100vh;
  max-height: 120rem;
  position: relative;
}

.home__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.home__text__titulo {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
}

.home__text__sub {
  margin: 3rem auto 0 auto;
  max-width: 75rem;
}

.home__text__p {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}

.home__button {
  margin-top: 5rem;
  text-align: center;
}